---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    min-spaces-from-content: 1
  line-length: disable
  truthy:
    ignore: |
      molecule/*
      .github/workflows/galaxy.yml
      .github/workflows/molecule.yml
