{% set comma = joiner(",") %}
{% set lbracket = "[" %}
{% set rbracket = "]" %}
{% set quote = '"' %}

{
  "bind_addr": "{{ consul_bind_address }}",
  "addresses": {
    "dns": "127.0.0.1",
    "http": "{{ consul_bind_address }}",
    "https": "{{ consul_bind_address }}"
  },
  "bootstrap": false,
  "server": false,
  "node_name": "{{ inventory_hostname_short }}",
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_path }}",
  "encrypt": "{{ consul_raw_key['stdout']}}",
  "log_level": "{{ consul_log_level }}",
  "enable_syslog": {{ consul_syslog_enable }},
  "start_join": {{ lbracket }}{% for host in groups[consul_group_name] %}
   {{ comma() }}{{ quote }}{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}{{ quote }}
{% endfor %}{{ rbracket }}
}
