{# This template will be passed through the 'to_nice_json' filter #}
{# The filter fixes whitespace, indentation and comma's on the last item #}
{
    {# Common Settings #}

    {## Node ##}
    "node_name": "{{ consul_node_name }}",
    "datacenter": "{{ consul_datacenter }}",
    "domain": "{{ consul_domain }}",

    {## Addresses ##}
    "bind_addr": "{{ consul_bind_address }}",
    "addresses": {
      {% if consul_dns_bind_address | trim != '' %}
        "dns": "{{ consul_dns_bind_address }}",
      {% endif %}
      {% if consul_http_bind_address | trim != '' %}
        "http": "{{ consul_http_bind_address }}",
      {% endif %}
      {% if consul_https_bind_address | trim != '' %}
        "https": "{{ consul_https_bind_address }}",
      {% endif %}
      {% if consul_rpc_bind_address | trim != '' %}
        "rpc": "{{ consul_rpc_bind_address }}",
      {% endif %}
    },
    {## Ports Used ##}
    {% if consul_ports | length > 0 %}
      "ports": {{ consul_ports | to_json }},
    {% else %}
      "ports": {
        {% if _consul_default_port_rpc | trim != '' %}
          {% set _ = consul_ports.__setitem__('rpc', _consul_default_port_rpc) %}
          "rpc": "{{ _consul_default_port_rpc }}",
        {% endif %}
        {% if _consul_default_port_http | trim != '' %}
          {% set _ = consul_ports.__setitem__('http', _consul_default_port_http) %}
          "http": "{{ _consul_default_port_http }}",
        {% endif %}
        {% if _consul_default_port_https | trim != '' %}
          {% set _ = consul_ports.__setitem__('https', _consul_default_port_https) %}
          "https": "{{ _consul_default_port_https }}",
        {% endif %}
        {% if _consul_default_port_dns | trim != '' %}
          {% set _ = consul_ports.__setitem__('dns', _consul_default_port_dns) %}
          "dns": "{{ _consul_default_port_dns }}",
        {% endif %}
      },
    {% endif %}

    {## DNS ##}
    {% if consul_recursors | length > 0 %}
        "recursors": [
            {% for recursor in consul_recursors %}
                "{{ recursor }}",
            {% endfor %} ],
    {% endif %}

    {## Agent ##}
    "data_dir": "{{ consul_data_path }}",
    "log_level": "{{ consul_log_level }}",
    "enable_syslog": {{ consul_syslog_enable | bool | to_json }},
    "enable_script_checks": {{ consul_enable_script_checks | bool | to_json }},

    {## Encryption and TLS ##}
    "encrypt": "{{ consul_raw_key }}",
    {% if consul_tls_enable %}
        "ca_file": "{{ consul_tls_dir }}/{{ consul_tls_ca_crt }}",
        "cert_file": "{{ consul_tls_dir }}/{{ consul_tls_server_crt }}",
        "key_file": "{{ consul_tls_dir }}/{{ consul_server_key }}",
        "verify_incoming": {{ consul_tls_verify_incoming | bool | to_json }},
        "verify_outgoing": {{ consul_tls_verify_outgoing | bool | to_json }},
        "verify_server_hostname": {{ consul_tls_verify_server_hostname | bool | to_json }},
    {% endif %}

    {## ACLs ##}
    {% if consul_acl_enable %}
        "acl_ttl": "{{ consul_acl_ttl }}",
        "acl_datacenter": "{{ consul_acl_datacenter }}",
        "acl_down_policy": "{{ consul_acl_down_policy }}",
        {% if consul_acl_token | trim != '' %}
            "acl_token": "{{ consul_acl_token }}",
        {% endif %}
        {% if consul_acl_agent_token | trim != '' %}
            "acl_agent_token": "{{ consul_acl_agent_token }}",
        {% endif %}
        {% if consul_acl_agent_master_token | trim != '' %}
            "acl_agent_master_token": "{{ consul_acl_agent_master_token }}"
        {% endif %}
    {% endif %}

    {## LAN Join ##}
    "start_join": [
        {% for server in _consul_lan_servers %}
            "{{ hostvars[server]['consul_bind_address'] | ipwrap }}",
        {% endfor %} ],

    {## UI ##}
    "ui": {{ consul_ui | bool | to_json }},

    {## Server/Client ##}
    "server": {{ (item.config_version != 'client') | bool | to_json }},

    {# Client Settings #}
    {% if (item.config_version == 'client') %}
    {% endif %}

    {# Server Settings #}
    {% if (item.config_version == 'server') or (item.config_version == 'bootstrap') %}

        {## Bootstrap settings ##}
        "bootstrap": {{ (item.config_version == 'bootstrap') | bool | to_json }},
        {% if consul_bootstrap_expect and not (item.config_version == 'bootstrap') %}
            "bootstrap_expect": {{ _consul_lan_servers | length }},
        {% endif %}

        {## WAN Join ##}
        {% if _consul_wan_servers | length > 0 %}
            "start_join_wan": [
                {% for server in _consul_wan_servers %}
                    "{{ hostvars[server]['consul_bind_address'] | ipwrap }}",
                {% endfor %} ],
        {% endif %}

        {## Server ACLs ##}
        {% if consul_acl_enable %}
            "acl_default_policy": "{{ consul_acl_default_policy }}",
            "acl_master_token": "{{ consul_acl_master_token }}",
            {% if consul_acl_replication_enable | trim != '' %}
                "enable_acl_replication": {{ consul_acl_replication_enable | bool | to_json }},
            {% endif %}
            {% if consul_acl_replication_token | trim != '' %}
                "acl_replication_token": "{{ consul_acl_replication_token }}",
            {% endif %}
        {% endif %}
    {% endif %}
}
