{% set comma = joiner(", ") %}
{% set comma_nodes = joiner(", ") %}

{
  "bind_addr": "{{ consul_bind_address }}",
  "addresses": {
    "dns": "{{ consul_dns_bind_address }}",
    "http": "{{ consul_http_bind_address }}",
    "https": "{{ consul_https_bind_address }}",
    "rpc": "{{ consul_rpc_bind_address }}"
  },
  {%- if consul_recursors|length > 0 -%}
  "recursors": [ {% for recursor in consul_recursors -%}
                     {{ comma() }}"{{ recursor }}"
                 {%- endfor %} ],
  {% endif %}
  "bootstrap": false,
  "server": true,
  "node_name": "{{ consul_node_name }}",
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_path }}",
  "encrypt": "{{ consul_raw_key }}",
  "log_level": "{{ consul_log_level }}",
  "enable_syslog": {{ consul_syslog_enable|lower }},
  "start_join": [
    {% set interface = 'ansible_' ~ consul_iface %}
    {% for host in groups[consul_group_name] %}
    {% if host != inventory_hostname and (hostvars[host]['consul_node_role'] == 'server' or hostvars[host]['consul_node_role'] == 'bootstrap') %}
    {{ comma_nodes() }}"{{ hostvars[host][interface]['ipv4']['address'] }}"
    {% endif %}
    {% endfor %}
   ],
  "ui": true
}