### BEGIN INIT INFO
# Provides:          consul
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Consul agent
# Description:       Consul service discovery framework
### END INIT INFO

[Unit]
Description=Consul agent
Wants=basic.target
After=basic.target network.target

[Service]
User={{ consul_user }}
Group={{ consul_group }}
PIDFile=/var/run/consul/consul.pid
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/consul
ExecStartPre=/bin/chown -R {{ consul_user }}:{{ consul_group }} /var/run/consul/
ExecStart=/usr/local/bin/consul agent \
    -config-dir=/etc/consul.d/{{ consul_node_role }} -pid-file=/var/run/consul/consul.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
