# WARNING!!! Ansible managed.

[Unit]
ConditionFileNotEmpty=
ConditionFileNotEmpty={{ consul_config_path }}/config.json

[Service]
ExecStart=
ExecStart=/usr/bin/consul agent -config-file={{ consul_config_path }}/config.json \
    {% if consul_bind_iface | trim != '' %}
    -bind='{% raw %}{{ GetInterfaceIP {% endraw %}"{{ consul_bind_iface }}"{% raw %} }}{% endraw %}' \
    {% endif %}
    {% if consul_advertise_iface | trim != '' %}
    -advertise='{% raw %}{{ GetInterfaceIP {% endraw %}"{{ consul_advertise_iface }}"{% raw %} }}{% endraw %}' \
    {% endif %}
    {% if consul_advertise_iface_wan | trim != '' %}
    -advertise-wan='{% raw %}{{ GetInterfaceIP {% endraw %}"{{ consul_advertise_iface_wan }}"{% raw %} }}{% endraw %}' \
    {% endif %}
    -config-dir={{ consul_configd_path }}
