{% set comma = joiner(",") %}
{% set lbracket = "[" %}
{% set rbracket = "]" %}
{% set quote = '"' %}

{
  "bind_addr": "{{ consul_bind_address }}",
  "addresses": {
    "dns": "{{ consul_dns_bind_address }}",
    "http": "{{ consul_http_bind_address }}",
    "https": "{{ consul_https_bind_address }}",
    "rpc": "{{ consul_rpc_bind_address }}"
  },
  "bootstrap": false,
  "server": true,
  "node_name": "{{ consul_node_name }}",
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_path }}",
  "encrypt": "{{ consul_raw_key['stdout']}}",
  "log_level": "{{ consul_log_level }}",
  "enable_syslog": {{ consul_syslog_enable }},
  "start_join": {{ lbracket }}{{ quote }}{{ consul_bootstrap_interface }}{{ quote }}{{ rbracket }},
  "ui": true
}
